<div>
  <p>
    <strong><%= flat.name %></strong>
  </p>

  <p>
    <strong><%= flat.address %></strong>
  </p>

  <p>
    <strong><%= flat.price_per_night %> € </strong>
  </p>

  <p>
    <strong><%= flat.number_of_guests %> guests </strong>
  </p>

  <p>
    <strong><%= flat.description %> guests </strong>
  </p>
</div>
